*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI',sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}
header{
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px 0;
    z-index: 1000;
}
.logo{
    float: left;
    font-size: 2rem;
}
nav{
    float: right;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
#first-section{
    background-color: #f0f2f5;
    padding: 80px 0;
    text-align: center;
}
#first-section h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
#first-section p{
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.btn{
    background-color: #000;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
}
.section{
    padding: 60px 0;
    text-align: center;
}
.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    width: 250px;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
form input{
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 8px;
}
form button{
    background: #000;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}
footer{
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    margin-top: 40px;
}
